@charset "utf-8";
/* CSS Document */

/* #54A2DA  EB8F00*/
.btnOpcionesActivo{
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    border:2px solid #0D63A2;
    background:#0D63A2;	
	padding:0 10px;
	text-decoration:none;
	width:124px;
	height:21px;
	float:left;

}
.btnOpciones{
    font-size: 14px;
    color: #006699;
    font-weight: bold;    
	border:2px solid #dddddd;
	padding:0 10px;
	text-decoration:none;
	width:124px;
	height:21px;
	float:left;

}
.boton{
	background:#EEEEEE;
	border:1px solid #dddddd;
	color:#595959;
	padding:0 10px;
	text-decoration:none;
	width:55px;
	height:66px;
	float:left;
	
}
.botonActivo{
	/*background:#999999;*/
	border:2px solid #3FB5DC;
	color: #0E5074;
	padding:0 10px;
	text-decoration:none;
	width:55px;
	height:66px;
	float:left;
	background-image:url(../../imagenes/overB.png);
	margin:2px;
	/*#54A2DA*/
}
.boton:hover{
background-image:url(../../imagenes/overB.png);
}
.cont{
   background-color: #383F50;
    color: #C3C5CA;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    text-decoration: none;

}
.cont ul {
	   margin-left: -40px;
    text-transform: uppercase;
    

}
.cont ul strong {
	color: #C3C5CA;
	text-transform: uppercase;
	padding-left:9px;
}
.cont ul div {
	color: #C3C5CA;
	text-transform: uppercase;
	padding-left: 28px;
	/*border-bottom: 1px solid #191C23;*/
	padding-bottom: 3px;
	border-bottom: 1px solid #191C23;
}

.cont ul li{
 border-bottom: 1px solid #5C5C5C;
    color: #C3C5CA;
    line-height: normal;
    list-style: none outside none;
    padding-left: 31px;
    padding-top: 5px;
    background:  #484F60;
    display: none;
    height: 20px;
}
.cont ul li a{	
	color: #93959A
}

.cont ul li:hover{
	background-color:#4D576E;	
	color:#ffffff;
	cursor: pointer;
  

}

.letraInv
{	top:49px;	
	position:absolute;
	left: 6px;	
}
.letraProv
{	top:49px;	
	position:absolute;
	left: 42px;	
}
.letraComp
{	top:49px;	
	position:absolute;
	left: 126px;	
}
.letraVent
{	top:49px;	
	position:absolute;
	left: 211px;	
}
.letraEst
{	top:49px;	
	position:absolute;
	left: 273px;	
}
.letraMan
{	top:49px;	
	position:absolute;
	left: 357px;	
}
.letraCer
{	top:49px;	
	position:absolute;
	left: 440px;	
}
.botonActivoli{
	background-image:url(../../imagenes/boton.png);
	color: #333333;
	border:1px solid #009BC1;
	
	
}
.inventario {
	background:url(../../imagenes/inventario.png) no-repeat scroll 0 -1px transparent;
	display:block;
	text-indent:6px;
	height:100%;
	top:5px;
}
.musuario{
	background:url(../../imagenes/usuario.png)no-repeat scroll 6px 7px transparent;
	display:block;
	text-indent:39px;
	height:100%;
}

.mcompras{
	background:url(../../imagenes/compras.png)no-repeat scroll 6px 10px transparent;
	display:block;
	text-indent:39px;
	height:100%;
}
.mventas{
	background:url(../../imagenes/ventas.png)no-repeat scroll 6px 8px transparent;
	display:block;
	text-indent:39px;
	height:100%;
}

.mestadisticas{
	background:url(../../imagenes/estadisticas.png)no-repeat scroll 5px 40% transparent;
	display:block;
	text-indent:39px;
	height:100%;
}

.mtesoreria{
	background:url(../../imagenes/tesoreria.png)no-repeat scroll 0 1px transparent;
	display:block;
	text-indent:39px;
	height:100%;
}
.mrrhh{
	background:url(../../imagenes/rrhh.png)no-repeat scroll 0 1px transparent;
	display:block;
	text-indent:39px;
	height:100%;
}
.manteminiento{
	background:url(../../imagenes/mantenimiento.png)no-repeat scroll 6px 10px  transparent;
	display:block;
	text-indent:39px;
	height:100%;
}

.mcerrar{
	background:url(../../imagenes/cerrar.png)no-repeat scroll 6px 10px transparent;
	display:block;
	text-indent:39px;
	height:100%;
}
.mdetalle{
	background:url(../../imagenes/detalle.png)no-repeat scroll 0 1px transparent;
	display:block;
	text-indent:39px;
	height:26px;
}
.mpermiso{
	background:url(../../imagenes/permiso.png)no-repeat scroll 0 1px transparent;
	display:block;
	text-indent:23px;
	height:20px;
}
.muser{
    background:url(../../imagenes/user.png)no-repeat scroll 0 1px transparent;
	display:block;
	text-indent:23px;
	height:20px;
}
.mperfil{
    background:url(../../imagenes/perfil.png)no-repeat scroll 0 1px transparent;
	display:block;
	text-indent:23px;
	height:20px;
}
.mfecha{
    background:url(../../imagenes/fecha.png)no-repeat scroll 0 1px transparent;
	display:block;
	text-indent:23px;
	height:20px;
}

.menuVertical{
  background-color: #383F50;
    border-left: 1px solid #B0AEAB;
    border-right: 1px solid #B0AEAB;
   /* height: 439px;*/
    left: 0;
    position: absolute;
   /* top: 100px;
    width: 18%;
    z-index: 6;*/
}
.menuVertical h4 {
    background-image: linear-gradient(#21A8E7, #0D5DA2);
    border: medium none;
    border-radius: 6px 6px 0 0;
    color: #FFFFFF;
    font-family: "Roboto",sans-serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 0;
    padding: 14px 5px 16px 20px;
    position: relative;
    text-shadow: 1px 1px #0D5DA2;
    text-transform: uppercase;
}
.btn_admin{
    border-bottom: 1px solid #191C23;
    color: #555555;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 15px;
    padding: 12px 12px 12px 28px;
    text-transform: uppercase;

}
.btn_admin:hover{
	background-color:#4D576E;	
	color:#ffffff;
	 cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 15px;
    padding: 12px 12px 12px 28px;
    text-transform: uppercase;


}
.active{
	background-image: linear-gradient(#21A8E7, #0D5DA2);
}

.logout {
	background-image: linear-gradient(#EEEEEE, #D9D9D9);
	color: red;
}
.btn_admin.logout a {	
	color: red;
}
.btn_admin  a {
   cursor:pointer;
   color:#C3C5CA;
   padding-left:11px;
 }

.btn_admin  div {
   padding-left:30px;
   padding-top: 5px;
   display: none;
 }
.btn_admin  div  a {
   cursor:pointer;
   color:#757575;

 }
