/* CSS Document */
.button{
   background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #C4C4C4;
    color: #646464;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10.5px;
    padding: 4px;
}
.btnEntrada{
	background-image:url(../../imagenes/btEntrada.png);
	height:38px;
	float:left;
	margin:1px;
	position:absolute;	
	width:13px;
	left:2px;
	z-index:1;
	
}
.btnSalida{
	background-image:url(../../imagenes/btSalida.png);
	height:38px;
	float:left;
	margin:1px;
	position:absolute;	
	width: 13px;
	left:2px;
	z-index:1;
}

.save {
	background:url(../../imagenes/save.png)no-repeat scroll 0 -2px transparent;
	display:block;
	text-indent:25px;
	height:100%;
	top:5px;
	padding: 4px;
}
.refresh{
	background:url(../../imagenes/refresh.png)no-repeat scroll 0 -2px transparent;
	display:block;
	text-indent:25px;
	height:100%;
	top:5px;
	padding: 4px;
}
.add{
	background:url(../../imagenes/add.png)no-repeat scroll 0 -2px transparent;
	display:block;
	text-indent:25px;
	height:100%;
	top:5px;
	padding: 4px;
}
.savePrint {
	background:url(../../imagenes/print.png)no-repeat scroll 0 -2px transparent;
	display:block;
	text-indent:25px;
	height:100%;
	top:5px;
	width: 127px;
	padding: 4px;
}
.new {
	background:url(../../imagenes/new.png)no-repeat scroll 0 2px transparent;
	display:block;
	text-indent:25px;
	height:100%;
	top:5px;
	padding: 4px;
}
.pdf {
	background:url(../../imagenes/pdf.png)no-repeat scroll 0 2px transparent;
	display:block;
	text-indent:31px;
	height:100%;
	top:5px;
	padding: 4px;
}
.excel {
	background:url(../../imagenes/excel.png)no-repeat scroll 0 2px transparent;
	display:block;
	text-indent:29px;
	height:100%;
	top:5px;
	padding: 4px;
}

.gestion {
    background: url("../../imagenes/collapsed.gif") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    display: block;
    text-indent: 25px;
    top: 5px;
}
.cancel{
    background: url("../../imagenes/cancel.png") no-repeat scroll 0 1px rgba(0, 0, 0, 0);
    display: block;
    height: 100%;
    padding: 4px;
    text-indent: 25px;
    top: 5px;
}
.delete{
	background:url(../../imagenes/delete.png)no-repeat scroll 0 2px transparent;
	display:block;
	text-indent:25px;
	height:100%;
	top:5px;
	padding: 4px;
}
.devolucion{
    background:url(../../imagenes/devolucion.png)no-repeat scroll 0 2px transparent;
	display:block;
	text-indent:25px;
	height:100%;
	top:5px;
	padding: 4px;	
}
.find{
	background:url(../../imagenes/buscar.png)no-repeat scroll 0 2px transparent;
	display:block;
	text-indent:25px;
	height:100%;
	top:5px;
	padding: 4px;
}
.imgpopup{
 background: url("../../imagenes/imgpopup.png") no-repeat scroll 0 -6px rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 1px;
 }

.grafica{
	background:url(../../imagenes/btnGrafica.png)no-repeat scroll 0 2px transparent;
	display:block;
	text-indent:25px;
	padding: 4px;
	height:100%;
	top:5px;
}