

.inputDisabled
{
	/*border:1px solid  #CCCCCC;
	background: #E4E4E4;*/
	color:#6B6B6B;
}
.importante, .mensaje{
	color: red;
	display: none;
	margin-top:  -13px;
}
.text, .textN, .combo, .comboCodigo,.textCodigo, .textExtraGrande{
	background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    
    font-size: 13px;
    line-height: 1.42857;
    padding: 4px 8px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    /*width: 100%;*/
}
.textGrande{
	width:249px;
}

.textNumero{
	width: 107px;
	text-align: right;
}
.textInvisible{
	display: none;
}
.textCodigo{
	width: 105px;
}

.comboGrande{
/*	width: 95%;*/
	width: 95%;
}
/*
.comboCodigo{
	width: 120px;
}*/

input[type='password'][name='password'] {
    background: crimson;
    color: pink;
    border: 3px solid pink;
}
.inputderecha{
	 text-align: right;
}