@CHARSET "ISO-8859-1";
body {
	background: url(../../imagenes/background.png) repeat scroll;
	margin: 0;
	padding: 0;
}

.container{
	margin: 0pt 17%;
	width:50%;
}

#header{
	background: url(../../imagenes/hdr-bkg.png) repeat-x scroll;
	height:181px;
	position:absolute;
	z-index :100;
	top: 0px;
	left:0px;
	width:100%;
}

#navigation{
	height:60px;
}

#inventario, #inventario div, 
#cliente, #cliente div, 
#proveedor , #proveedor div, 
#compra, #compra div, 
#venta,  #venta div,
#contabilidad, #contabilidad div,
#estadistica, #estadistica div,
#admin, #admin div {
	height:85px;
	position:absolute;
	width:98px;
	float:left;
}

#inventario, #cliente, #proveedor, #compra, #venta, #contabilidad, #estadistica, #admin{
	background-image: url(../../imagenes/nav.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	/*top:78px;*/
}
/*
#inventario{
	background-position: 0px -25px;
	margin-left:6px;
}

#cliente{
	background-position: -98px -25px;
	margin-left:105px;
}

#proveedor{
	background-position: -196px -25px;
	margin-left:204px;
}

#compra{
	background-position: -294px -25px;
	margin-left:303px;
}

#venta{
	background-position: -392px -25px;
	margin-left:402px;
}
#contabilidad{
	background-position: -490px -25px;
	margin-left:501px;
}
#estadistica{
	background-position: -588px -25px;
	margin-left:600px;
}
#admin{
	background-position: -686px -25px;
	margin-left:699px;
}*/

#inventario div, #cliente div, #proveedor div, #compra div, #venta div, #contabilidad div, #estadistica div, #admin div {
	/*background-image: url(../../imagenes/white.png);*/
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0px -60px;	
}	

.pri-nav a{
	display:block;
	text-decoration:none;
	text-indent:-30000px;
}

.content{
	margin-top:160px;
}

#content-title{
	background: url(../../imagenes/content-title.png) no-repeat scroll;
	height:323px;
	position:absolute;
	width:100%;
}