/* CSS Document */

body{
font-size:14px;
margin:auto;}
/* #logo{
	width:182px;
	height:83px;
	position:absolute;
	background-image:url(../../imagenes/LOGO.png);
	background-repeat:no-repeat;
	left: 4px;
	top: 4px;
}
#logo1{
	width:405px;
	height:23px;
	position:absolute;
	background-image:url(../../imagenes/logo2.png);
	background-repeat:no-repeat;
	left: 6px;
	top: 19px;
} */
#menu{
/* 	width:831px;
	height:68px;
	position:absolute;
	left: 4px;
	top: 48px; 
	margin-top: -11px;*/
    float: right;
    height: 107px;
    position: relative;
    width: 50%;
    z-index: 300;
}
#estructura{
    height: 400px;
    visibility: visible;
    width: 100%;
	/*position:relative;*/
}
#base{
  background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 9px;
    height: 639px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 5px;
    width: 99%;
    z-index: 1;
}
#cabecera{
	/*background-color: #2FC4C6;
    background-image:url(../../imagenes/cabecera.png);
    box-shadow:0 0 15px #828282;*/
    background-repeat: repeat-x;
    height:85px;
    position: relative;
    
   /* z-index: 500;*/

}
.wrapper {
    margin: 0 auto;
    position: relative;
    width: 97%;
}

#logo {
  /*   background-color: #FFFFFF;
    background-image: url("../imagenes/bg_logo.png");
    box-shadow: 0 0 15px #828282;*/
    float: left;
    height: 123px;
    position: absolute;
    width: 272px;
  /* z-index: 100;*/
 
}
#logoImg{
 background-color: #FFFFFF;
    background-image: url("../../imagenes/logoImg.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 solid #519CFF;
    border-radius: 50% 50% 50% 50%;
    bottom: 0;
    height: 49px;
    left: 0;
    position: absolute;
    right: 0;
    top: 15px;
    width: 50px;
}
#logoLetra{
 left: 65px;
    min-height: 36px;
    position: absolute;
    top: 12px;
    visibility: visible;
    width: 330px;}
#header{
 	width:100%;
	height:120px;
	top: -3px;
	position:absolute;
	
	background: none repeat scroll 0 0 #0A5083;
	opacity: 0.9;
	/* background-image:url(../../imagenes/dock-bg2.png);
	
    box-shadow: 0 0 15px #828282;
    min-height: 175px;
    opacity: 0.9;
    position: relative;
    top: 1033px; */
	
}

#principal{
	/* width:100%;
	height:544px;
	
	background:#FDFDFD; */
	background-color: #E4E4F3;
    background-image: url("../../imagenes/fondoTecnologico18.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 83%;
    min-width:832px;
	
/*	border:5px #666666;*/
	
}
#logProductos
{
	width:98%;
	height:100%;
	position:absolute;
	background:#ffffff;
	left: 5px;
	top: 8px;
	background-image:url(../../imagenes/index.png);
	
}
#datosLogeo{
	/*width:275px;
	height:67px;
	float:right;
	border:1px dashed #CCCCCC;
	margin:5px;
	color:#333333;
	font-size:13px;
	padding:5px;
	background:#EAF2FF;*/
	float:right;
/*	margin-top:58px;*/

}
/*a.dock-item2 {
	display: block;
	font: bold 12px Arial, Helvetica, sans-serif;
	width: 41px;
	color:#FFFFFF;
	bottom: 0px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	
}
.dock-item2 span {
	display: block;
	padding-left: 15px;
	padding-top:-15px;
}
.dock-item2 img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}*/

.dock-item2 span {
	display: block;
	/*padding-left: 15px;
	padding-top:-15px;*/
}

#contenido{
	width:100%;
	height:397px;
	position:absolute;	
	top: 85px;
}
#listado{
  border-radius: 6px;
    box-shadow: 2px 0 rgba(0, 0, 0, 0.1), 0 0 6px #666666 inset;
    float: right;
    height: 500px;
    margin-left: auto;
   width: 84%;
   
	
}
#cont_admin{
    height: 448px;
    left: 16px;
    padding-left: 11px;
    padding-top: 5px;   
    width: 99%;
}
#pie{
  background: none repeat scroll 0 0 #0A5083;
    border-radius: 6px;
    box-shadow: 0 0 15px #828282;
    min-height: 51px;
    opacity: 0.9;
    position: relative;
    top: 504px;

}


#pieContenidoDatos{
 bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
	}
#pieEmpresaWordl{

    left: 81%;
    
    position: absolute;
    top: -5px;
   
}
#piwWebMaster{
   left: 81%;
    
    position: absolute;
    top: 48px;
    visibility: visible;
    
}
#pieFacebook{
    left: 51%;   
    position: absolute;
    top: 30px;
    visibility: visible;
    width: 28px;
	
}
#pieFacebookContenedor{

    height: 100%;
    position: absolute;
    width: 100%;

}
#pieFaceLink{
 display: block;
    height: 23px;
    visibility: visible;
    width: 23px;
}
#pieIconoFacebook{
  background-image: url("../../imagenes/iconoFacebook.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 23px 23px;
    height: 23px;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    visibility: visible;
    width: 23px;
}
#pieFacebookConLetra{
  left: 46%; 
    position: absolute;
    top:17px;
    visibility: visible;
    
}
#pieFacebookLetra{
  left: 51%;
    min-height: 30px;
    position: absolute;
    top: 43px;
    visibility: visible;
    width: 60px;
}
#pieTwiter{
 left:60%;
    min-height: 23px;
    position: absolute;
    top: 30px;
    visibility: visible;
    width: 28px;
}
#pieTwiterImg{
  background-image: url("../../imagenes/iconoTwiter.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 23px 23px;
    height: 23px;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    visibility: visible;
    width: 23px;
}
#pieTwiterConLetra{
 left: 55%;
    
    position: absolute;
    top: 17px;
    visibility: visible;
    width: 45px;
}

#pieContactenos{
    position: absolute;
    top: 10px;
    visibility: visible;
    width: 190px;
	}
#pieContactenosInformacion{ 
    position: absolute;
    top: 15px;
    visibility: visible;
    width: 135px;
}
#pieContactenosUbicacion{
    left: 170px;/*200px*/    
    position: absolute;
    top: 15px;
    visibility: visible;
    
}
#pieSocialice{
    left: 46%;
    min-height: 36px;
    position: absolute;
    top: 10px;
    visibility: visible;
    width: 245px;
}

.derechos {
	color: #FFFFFF;
	font-size: 10px;
}
.linea{
	background-image:url(../../imagenes/linea.png);
	background-repeat:repeat-x;
}

.ModalLogeo{
	 z-index:99;
	 width:auto;
	 top:100px;
	 left:40%;
	 height:auto;
	 position:absolute;
	 background:#FFF;
	 border:1px solid #999;
	 display:block;

}
.transp{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0D0D0D;
	z-index:5;
	opacity:.75;
	-moz-opacity: 0.75;
	filter: alpha(opacity=75);
}

.boleta {
    /*border-collapse: collapse;
    border: 5px solid yellow;*/
    background-color: blue;
}