@charset "utf-8";
/* CSS Document */

#paginacion{
	width:400px;
	height:30px;
	/*position:absolute;*/	
}
.btnPagActivo{
	background:#1776AD;
	color:#CCCCCC;
	float:left;
	text-align:center;
	border:1px solid #2E92C6;
	margin:2px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 7px;
    padding-left: 7px;
    width: 3%;
}
.btnPagInactivo{
	background:#EFEFEF;
	color:#0066CC;
	float:left;
	text-align:center;
	border:1px solid #CCCCCC;
	margin:2px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 7px;
    padding-left: 7px;
    display: none;
    width: 3%;

}
#Next{
   background:url(../../imagenes/next.png)no-repeat scroll 6px 7px #EFEFEF;

}
#final{
   background:url(../../imagenes/final.png)no-repeat scroll 6px 7px #EFEFEF;

}
#back{
   background:url(../../imagenes/back.png)no-repeat scroll 3px 7px #EFEFEF;

}
#principio{
   background:url(../../imagenes/principio.png)no-repeat scroll 6px 7px #EFEFEF;

}
.btnPagInvisible{
	display: none;

	}